{% extends "blog/mobile/base.html" %}
{% block content %}
<script type="text/javascript"> 
    if (screen.width > 699) {
    document.location = "{% url 'engrtrb' %}";
    }
</script>
<div class="card" style="padding: 8% 8% 2% 8%; margin: 4%" >
    <h2 style="color: orange; text-align: center">ENGINEERING COLLEGE TRB EXAM - PHYSICS</h2>
    <p style="text-align: center; color: blue">For the post of Assistant Professors in Government Enginreering Colleges</p>
    <hr>
    <label style="text-align: justify; color: blue">We care and concern to give you the best in every thing since we hold the responsibility for the most important step in your life. So what we bring to you here?</label>
    <p style="color: darkblue"><i class="fa fa-circle" style="color: blue; font-size: 8px"></i> Excellent Materials provided. <br>
    <i class="fa fa-circle" style="color: blue; font-size: 8px"></i> Every unit consist of two half unit tests with 30 questions each, one problems test of 25 questions and one full unit test of 150.<br>
    <i class="fa fa-circle" style="color: blue; font-size: 8px"></i> Finally four half portion test and five full portion test will be conducted. <br>
    <i class="fa fa-circle" style="color: blue; font-size: 8px"></i> Mathematical physics shall be handled by well versed mathematicians.<br>
    <i class="fa fa-circle" style="color: blue; font-size: 8px"></i> Electronics units shall be handled by enthusiastic professors of great knowledge over electronics department.
    </p>
    <p style="color: orangered">Subject Handled by <br></p>
        <label style="color: blue">Dr. J. Elanchezhiyan M.Sc., M.Phil., Ph.D.,
            <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
            (GATE, Ph.D (NIT), PDF (South Korea))</p>
        </label>
        <label style="color: blue">Mr. A. Ramesh M.Sc., M.Phil., B.Ed.,
            <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
            (CSIR - NET, PGTRB, ENGG TRB)</p>
        </label>
        <label style="color: blue">Mr. N. Manikandan M.Sc.,
            <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
            (Group II, Group IV, CSIR - NET, SET, ENGG TRB) </p>
        </label>
        <label style="color: blue">Mr. S. Sankar M.Sc., M.Phil., B.Ed.,
            <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
            (CSIR - NET, ENGG TRB) <br></p>
        </label>
        <label style="color: blue">Mr. C. Periasamy M.Sc., M.Phil., B.Ed.,
            <p style="color: darkblue">PG Teacher in mathematics - PGTRB<br>
            (Mathematical Physics)</p>
        </label>
    </p>
</div>
<br>
<div style="width: 100%;">
        {% for Post in posts reversed %}
        <div class="post-body">
                <div class="post-head">
                    <div>
                        <b style="font-size: 18px">{{Post.date_posted|date:"d"}}</b>
                        <c style="margin-top: 3%">{{Post.date_posted|date:"F, Y"}}</c>
                        <a href="http://{{Post.link}}" class="fa fa-download" style="color: white; float: right; padding-top: 6px"></a>
                        {% if user.is_authenticated %}
                        <a style="color: white; float: right; padding-top: 2px" href=/admin/blog/post/{{Post.id}}/change>Edit</a>
                        {% endif %}
                    </div>
                </div>
                <div class="post-content">
                    <h5 style="color: rgb(39, 39, 39)">{{Post.title}}</h5>
                    {{Post.content|safe}}
                    {% if user.is_autheticated %}
                    <a href=/admin/blog/post/{{Post.id}}/change>Edit</a>
                    {% endif %}
                    <hr style="margin: 0">
                </div>  
                <div class="post-sub">
                                    <p style="margin: 0">Posted by {{Post.author}} - <b>{{Post.tag}}</b></p>


                </div>
            </div><br>
        {% endfor %}
    </div>
    {% endblock content %}