{% extends "blog/mobile/base.html" %}
{% block content %}
<script type="text/javascript"> 
    if (screen.width > 699) {
    document.location = "{% url 'pgtrb' %}";
    }
</script>
<br>
<div class="card" style="padding: 8% 8% 2% 8%" >
    <h2>PGTRB - Post Graduate Teacher Recruitment Board Training Boarding</h2>
    <hr>
    <label style="text-align: justify">We care and concern to give you the best in every thing since we hold the responsibility for the most important step in your life. So what we bring to you here?</label>
    <p>~ Excellent Materials provided. <br>
    ~ Every unit consist of two half unit tests with 30 questions each, one problems test of 25 questions and one full unit test of 150.<br>
    ~ Finally four half portion test and five full portion test will be conducted. <br>
    ~ Matheatical physics shall be handled by well versed mathematicians.<br>
    ~ Electronics units shall be handled by enthusiastic professors of great knowledge over electronics department. <br>
    ~ Methodology and general knowledge by expert.
    </p>
    <p>Subject Handled by <br>
        ~ Prof. A. Ramesh M.Sc., M.Phil., B.Ed.,<br>
        ~ Prof. C. Periasamy M.Sc., M.Phil., B.Ed.,<br>
        ~ Prof. N. Samydurai M.A., B.Ed., M.Phil.,</p>
</div>
<br>
<div style="width: 100%;">
    {% for Post in posts reversed %}
    <div class="post-body">
        <div class="post-head">{{Post.title}}</div>
        <div class="post-content">
            {{Post.content|safe}}
            <hr style="margin-bottom: 0">
        </div>  
        <div class="post-sub">{{Post.date_posted|date:"F d, Y"}} - Posted by {{Post.author}}
            <a href="http://{{Post.link}}" class="fa fa-download" style="color: black"></a>
            {% if user.is_authenticated %}
            <a href=/admin/blog/post/{{Post.id}}/change>Edit</a>
            {% endif %}

        </div>
    </div><br>
    {% endfor %}
</div>
{% endblock content %}