{% extends "blog/mobile/base.html" %}
{% block content%}
<script type="text/javascript"> 
    if (screen.width > 699) {
    document.location = "{% url 'about' %}";
    }
</script><br>
<div class="card" style="padding: 5%">
    <div style="text-align: center; padding: 5%">
        <h3>AR Coaching Center<br> for Physics</h3>
        <p style="margin-bottom: -5px">Founder: Mr. T. Azhagappan</p>
        <label><hr>AR Coaching center excells in providing intensive coaching and training for <br> all government teacher recruitment board exams.</label>        
        <br>
        <label>Our instituition beleives developing self esteem and self confidence which is the key to face any <br>
            circumstances. We beleive in building personalities that will guide you towards success. We kindle the thurst <br>
            for knowledge by providing a holistic environment.
        </label>
        <hr>
    </div>
    <div style="text-align: center; padding-left: 6%; margin-top: -2% ">
        <div style="text-align: left">
            <label>Co-ordinators: <p> Prof Mr. C. Sathyaraj DCE., <br> Prof Mr. Aravinth B.Sc.,</p></label>            
            <br>
            <label>Faculty Members:</label><br>
            <label>Dr. J. Elanchezhiyan M.Sc., M.Phil., Ph.D.,
                <p>Assistant professor, Department of Physics<br>
                Experienced in GATE, Ph.D (NIT)</p>
            </label>
            <label>Mr. A. Ramesh M.Sc., M.Phil., B.Ed.,
                <p>Assistant professor, Department of Physics<br>
                Experienced in NET, PGTRB, ENGG TRB</p>
            </label>
            <label>Mr. C. Periasamy M.Sc., M.Phil., B.Ed.,
                <p>PG Teacher in mathematics - PGTRB<br>
                Specialist for Mathematical Physics</p>
            </label>
            <br>
            <label>Mr. N. Manikandan M.Sc.,
                <p>Assistant professor, Department of Physics<br>
                Experienced in Group II, Group IV, NET, SET,<br> ENGG TRB </p>
            </label>
            <label>Mr. S. Sankar M.Sc., M.Phil., B.Ed.,
                <p>Assistant professor, Department of Physics<br>
                Experienced in NET, ENGG TRB <br></p>
            </label>
            <label>Mr. N. Samydurai M.A., B.Ed., M.Phil.,
                <p>PG Teacher in History<br>
                Experienced in Group II, Group IV, TNTET,<br> TNSET, PGTRB</p>
            </label>
            <label>Mr. M. Mowzli Sre B.E.,
                <p>Technical Assistance for ARCCP<br>
                Freelance Web Application developer</p>
            </label>            
        </div>
    </div>
</div>
<br>
    
{% endblock content%}



    
