{% extends "blog/mobile/base.html" %}
{% block content %}
<script type="text/javascript">
    if (screen.width > 699) {
        document.location = "{% url 'content' %}";
    }
</script>
<img src="/static/img/banner.jpeg" width="100%" style="margin-top: -6px">
<div style="background-color: white;">
    <div style="width: 100%; height: 40px; padding-top: 8px;">
        <marquee direction="left">
            {% for Announce in announces %}
            <img src="/static/img/new.gif" height=15 width=30>
            <a style="font-size: 14px; color: rgb(65, 151, 150)"><b>{{Announce.announcement}}</b></a>
            {% endfor %}
        </marquee>
    </div>
</div>
<div style="border: 4px solid rgb(65, 151, 150)">
    <a href="https://ktonline.in/arccphysics/">
        <div style="margin: 0px; margin: auto; padding: 10px;">
            <img src="/static/img/source.gif" alt="" height="40" width="40" style="position: absolute;">
            <img src="/static/img/source.gif" alt="" height="40" width="40" style="position: relative;float: right;">
            <div style="text-align: center; margin-left: 40; padding: 7px">
                <a style="font-size: 18px; color: rgb(65, 151, 150); font-weight: 500;" href="https://ktonline.in/arccphysics/"><b>ONLINE TEST - CLICK HERE</b></a>
            </div>
        </div>
    </a>
</div>
<br>
<h4 style="padding-left: 2%;margin-top: -3% ;">Recent Posts:</h4>
<div style="width: 100%;">
    {% for Post in posts reversed %}
    <div class="post-body">
        <div class="post-head">
            <div>
                <b style="font-size: 18px">{{Post.date_posted|date:"d"}}</b>
                <c style="margin-top: 3%">{{Post.date_posted|date:"F, Y"}}</c>
                <a href="http://{{Post.link}}" class="fa fa-download"
                    style="color: white; float: right; padding-top: 6px"></a>
                {% if user.is_authenticated %}
                <a style="color: white; float: right; padding-top: 2px"
                    href=/$session/blog/post/{{Post.id}}/change>Edit</a>
                {% endif %}
            </div>
        </div>
        <div class="post-content">
            <h5 style="color: rgb(39, 39, 39)">{{Post.title}}</h5>
            {{Post.content|safe}}
            {% if user.is_autheticated %}
            <a href=/$session/blog/post/{{Post.id}}/change>Edit</a>
            {% endif %}
            <hr style="margin: 0">
        </div>
        <div class="post-sub" style="padding: 6px 24px">
            <p style="margin: 0">Posted by {{Post.author}} - <b style="color: rgb(65, 151, 150)">{{Post.tag}}</b></p>
        </div>
    </div><br>
    {% endfor %}
</div>
<br>
{% endblock content%}
