{% extends "blog/base.html" %}
{% block content%}
<script type="text/javascript"> 
    if (screen.width <= 699) {
    document.location = "{% url 'mabout' %}";
    }
</script>
<br>
<div class="card">
    <div style="text-align: center; padding: 5%">
        <h3 style="color: orange">A R COACHING CENTRE</h3>
        <h5 style="color: rgb(19, 167, 0)">FOR PHYSICS</h5>
        <p style="color: rgb(247, 96, 121)"><b>( UG TRB, PG TRB, POLY TRB, ENGG/CLGE TRB, TNSET, GATE )</b></p>
        <p style="margin-bottom: -5px; color: blue">Founder: Mr. T. Azhagappan</p>
        <label style="color: darkblue"><hr>AR Coaching center excells in providing intensive coaching and training for <br> all government teacher recruitment board exams.</label>        
        <br>
        <label style="color: darkblue">Our instituition beleives developing self esteem and self confidence which is the key to face any <br>
            circumstances. We beleive in building personalities that will guide you towards success. We kindle the thurst <br>
            for knowledge by providing a holistic environment.
        </label>
        <hr>
    </div>
    <div style="text-align: center; padding-left: 8%; margin-top: -2% ">
        <div style="text-align: left">
            <label style="color: orangered">Co-ordinators: <p style="color: blue">Mr. C. Sathyaraj DCE., and Mr. A. Aravinth B.Sc.,</p></label>            
            <br>
            <label style="color: orangered">Faculty Members:</label><br>
            <label style="color: blue">Dr. J. Elanchezhiyan M.Sc., M.Phil., Ph.D.,
                <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
                (GATE, Ph.D (NIT))</p>
            </label>
            <label style="padding-left: 5%; color: blue">Mr. A. Ramesh M.Sc., M.Phil., B.Ed.,
                <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
                (CSIR - NET, PGTRB, ENGG TRB)</p>
            </label>
            <label style="padding-left: 5%; color: blue">Mr. C. Periasamy M.Sc., M.Phil., B.Ed.,
                <p style="color: darkblue">PG Teacher in mathematics - PGTRB<br>
                (For Mathematical Physics)</p>
            </label>
            <br>
            <label style="color: blue">Mr. N. Manikandan M.Sc.,
                <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
                (Group II, Group IV, CSIR - NET, SET, ENGG TRB) </p>
            </label>
            <label style="padding-left: 2.7%; color: blue">Mr. S. Sankar M.Sc., M.Phil., B.Ed.,
                <p style="color: darkblue">Assistant professor,  Dept. of Physics<br>
                (CSIR - NET, ENGG TRB) <br></p>
            </label>
            <label style="padding-left: 5.6%; color: blue">Mr. N. Samydurai M.A., B.Ed., M.Phil.,
                <p style="color: darkblue">PG Teacher in History<br>
                (Group II, Group IV, TNTET, TNSET, PGTRB) <br></p>
            </label>
            <label style="color: blue">Technical Lead: M. Mowzli Sre B.E.,
                <p style="color: darkblue">Freelance Web Application developer, <br>
                Front-end Developer @Tier3Coders</p>
            </label>            
        </div>
    </div>
</div>
<br>
{% endblock content%}



    
