{% extends "blog/base.html" %}
{% block content%}
<script type="text/javascript"> 
    if (screen.width <= 699) {
    document.location = "{% url 'mabout' %}";
    }
</script>
<br>
<div class="card">
    <div style="text-align: center; padding: 5%">
        <h3 style="color: orange">A R COACHING CENTRE</h3>
        <h5 style="color: rgb(19, 167, 0)">FOR PHYSICS</h5>
        <p style="color: rgb(247, 96, 121)"><b>( UG TRB, PG TRB, POLY TRB, ENGG/CLGE TRB, TNSET)</b></p>
        <p style="margin-bottom: -5px; color: blue">Founder: Mr. T. Azhagappan</p>
        <label style="color: darkblue"><hr>AR Coaching center excells in providing intensive coaching and training for <br> all government teacher recruitment board exams.</label>        
        <br>
        <label style="color: darkblue">Our instituition beleives developing self esteem and self confidence which is the key to face any <br>
            circumstances. We beleive in building personalities that will guide you towards success. We kindle the thurst <br>
            for knowledge by providing a holistic environment.
        </label>
        <hr>
    </div>
    <div style="text-align: center; padding-left: 8%; margin-top: -2% ">
        <div style="text-align: left">
            <label style="color: orangered">Co-ordinators: <p style="color: blue">Mr. P. Nataraj B.Tech., Mr. N.RAJIVGANDHI M.Sc,B.Ed, </p></label>            
            <br>
        </div>
    </div>
</div>
<br>
{% endblock content%}



    
