{% extends "blog/base.html" %}
{% block content%}
<script type="text/javascript"> 
    if (screen.width <= 699) {
    document.location = "{% url 'mcontent' %}";
    }
</script>
<div>
    <img src="/static/img/banner.jpg" width="100%">
</div>
<br>
<div class="row">
    <div class="left">
        {% for Post in posts reversed %}
        <div class="post-body">
            <div class="post-head">{{Post.title}}</div>
            <div class="post-content">
                {{Post.content|safe}}
                {% if user.is_autheticated %}
                <a href=/adminblog/post/{{Post.id}}/change>Edit</a>
                {% endif %}
                <hr style="margin-bottom: 0">
            </div>  
            <div class="post-sub">{{Post.date_posted|date:"F d, Y"}} - Posted by {{Post.author}}</div>
        </div><br>
        {% endfor %}
    </div>
    <div class="right">        
        <div class="post-body">
            <div class="post-head">Announcements</div>
            {% for Announce in announces %}
            <div class="post-content" style="margin-top: 10px; padding-top: 10px; padding-bottom: 0px">
                <p style="margin-bottom: 0">{{Announce.announcement}}</p>
                <hr style="margin-top: 2;margin-bottom: 2">
                <p style="font-size: 10px; padding-bottom: 7;">{{Announce.author}} - {{Announce.time}}</p>
            </div> 
            {% endfor %} 
        </div>
        
    </div>
</div><br>
{% endblock content%}



    
