{% extends "blog/base.html" %}
{% block content %}
<script type="text/javascript"> 
    if (screen.width <= 699) {
    document.location = "{% url 'mpolytrb' %}";
    }
</script>
<br>
<div class="card" style="padding: 5%">
    <h2>POLY TRB - Polytechnic Teacher Recruitment Board Training Program</h2>
    <p>This program gives you the best materials and guidance to compete in the Polytechnic TRB examinations.</p>
</div>
<br>
{% for post in posts %}
<div class="row">
    <div class="left">
        {% for Post in posts reversed %}
        <div class="post-body">
            <div class="post-head">{{Post.title}}</div>
            <div class="post-content">
                {{Post.content|safe}}
                <hr style="margin-bottom: 0">
            </div>  
            <div class="post-sub">{{Post.date_posted|date:"F d, Y"}} - Posted by {{Post.author}}
                <a href="http://{{Post.link}}" class="fa fa-download" style="color: black"></a>
                {% if user.is_authenticated %}
                <a href=/admin/blog/post/{{Post.id}}/change>Edit</a>
                {% endif %}
            </div>
        </div><br>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}